{% extends "base.html" %}

{% block content %}
<div class="span9">
    <ul class="breadcrumb">
		<li><a href="/">Home</a> <span class="divider">/</span></li>
		<li class="active">Password Reset</li>
    </ul>
	<h3> Password Reset Done</h3>
	<hr class="soft"/>
		<div class="span1"> &nbsp;</div>
		<div class="span4">
			<div class="well">
    <h4 class="alert-heading">Well done!</h4>
    <br>
    <p>We've emailed you instructions for setting your password.</p>
    <hr>
    <p class="mb-0">If they haven't arrived in a few minutes, check your spam folder.</p>
</div>
    </div>
    </div>
        </div>
    </div>
        </div>

{% endblock %}